@import "_variables";
@import "_mixins";

.btn {
  position: relative;
  margin: .6em;
  background-color: $red;
  color: $white;
  display: inline-block;
  text-align: center;
  font-size: .75em;
  letter-spacing: .03em;
  text-transform: uppercase;
  padding: 1em 3em;
  user-select: none;
  cursor: pointer;
  backface-visibility: hidden;
  @include cornerBorder(-.36em, calc(100% + .7em), calc(100% + .7em), 1.5em, .7em, 1.05em, .1em);
  &:before {
    transition: all $transitionNormal ease;
  }

  &:hover {
    color: $white;

    &:before {
     transform: translate3d(0, -50%, 0) scale(1.03);
    }
  }
}
