/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/3611d6");

  
@font-face {font-family: 'RussellSquareLT';src: url('/assets/game/static/fonts/3611D6_0_0.eot');src: url('/assets/game/static/fonts/3611D6_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/game/static/fonts/3611D6_0_0.woff2') format('woff2'),url('/assets/game/static/fonts/3611D6_0_0.woff') format('woff'),url('/assets/game/static/fonts/3611D6_0_0.ttf') format('truetype');}