<template lang="pug">
  .landing
    JurassicGameContainer
</template>

<script>
import debug from 'debug'
import JurassicGameContainer from '@/components/JurassicGameContainer'
let log = debug('component:Landing')
export default {
  name: 'landing',
  props: [],
  data () {
    return {
    }
  },
  beforeCreate: function () {
  },
  mounted: function () {
    log('Mounted')
  },
  computed: {
  },
  methods: {
  },
  components: {
    JurassicGameContainer
  }
}
</script>

<style scoped lang="scss">
@import "../styles/_variables";
@import "../styles/_mixins";
.landing {
  
}
</style>
