<template lang="pug">
  .jurassic-game-container(ref="container", :class="{ ended, winner }")
    canvas(:class="{ ready, ended, winner }", ref="canvas")
    .how-to-overlay(v-if="howToPlay")
    .ui(:class="{ ready, ended, winner }" ref="ui")
      img.ui-bottom(src="static/ui-bottom.png")
      img.ui-gauges-back(src="static/ui-gauges-back.png")
      .meter.health
        .fill(:style="{ transform: healthTranslate }")
      .meter.boost
        .fill(:style="{ transform: boostTranslate }")
      img.ui-gauges(src="static/ui-gauges.png")
      img.ui-pause(@click="togglePause", src="static/ui-pause.png")
      .ui-bottom
        .container
          .button.brake(@mousedown="brakeStart", @touchstart="brakeStart", @mouseleave="brakeEnd", @mouseup="brakeEnd", @touchend="brakeEnd")
            .wrapper
              img(src="static/ui-brake-icon.svg").ui-arrow.left
              span {{copy.brake}}
          .button.boost(@mousedown="boostStart", @touchstart="boostStart", @mouseleave="boostEnd", @mouseup="boostEnd", @touchend="boostEnd")
            .wrapper
              span {{copy.boost}}
              img(src="static/ui-boost-icon.svg").ui-arrow.right
        .map
          img.map-lines(src="static/ui-map-lines.png")
          .map-icons
            .map-icon.gyro(:style="{ transform: `translateX(${playerProgress * 100}%)` }")
              img.map-gyro(src="static/ui-map-gyro.png")
            .map-icon.stampede(:style="{ transform: `translateX(${dinoProgress * 100}%)` }")
              img.map-stampede(src="static/ui-map-stampede.png")
      img.ui-window-cover(src="static/ui-map-window-cover.png")
    transition( name="fade")  
      Modal(ref='modal', :playerProgress="playerProgress", :pause="paused", :winner="winner", :ended="ended", :started="started", :isMobile="mobile", :howToPlay="howToPlay")
</template>

<script>
import JurassicGame from '@/scripts/game/JurassicGame'
import InputManager from '@/scripts/game/InputManager'
import EntityManager from '@/scripts/game/EntityManager'
import Modal from '@/components/Modal'
import Config from '@/scripts/Config'
import QueryString from 'query-string'

export default {
  name: 'jurassic-game-container',
  props: [
  ],
  data () {
    return {
      mobile: null,
      health: 0,
      boost: 0,
      ready: false,
      playerProgress: -1,
      dinoProgress: -1,
      ended: false,
      winner: false,
      paused: false,
      started: true,
      howToPlay: false,
      copy: {}
    }
  },
  computed: {
    healthTranslate () {
      return `translateX(${(this.health / 100 - 1) * 100}%)`
    },
    boostTranslate () {
      return `translateX(${(this.boost / 100 - 1) * 100}%)`
    }
  },
  mounted () {
    /* eslint-disable */
    const device = new window.MobileDetect(window.navigator.userAgent)
    this.mobile = (device.mobile() || device.tablet()) ? true : false
    /* eslint-enable */
    this.game = new JurassicGame(this)

    this.params = {
      lang: 'en',
      ...QueryString.parse(location.search)
    }
    Config.load(this.params.lang).then(() => {
      this.copy = Config.config.copy
    })
  },
  methods: {
    boostStart () {
      InputManager.boosting = true
      if (EntityManager.player) {
        EntityManager.player.breakBoost = false
      }
    },
    boostEnd () {
      InputManager.boosting = false
    },
    brakeStart () {
      InputManager.braking = true
    },
    brakeEnd () {
      InputManager.braking = false
    },
    togglePause () {
      this.game.togglePause()
    },
    win () {
      this.winner = true
      this.ended = true
    },
    lose () {
      this.winner = false
      this.ended = true
    },
    restart () {
      this.winner = false
      this.ended = false
    }
  },
  components: {
    Modal
  }
}
</script>

<style lang="scss">
@import "../styles/_variables";
@import "../styles/_mixins";
.jurassic-game-container {
  user-select: none;
  background: black;
  overflow: hidden;
  display: block;
  font-size: 0;
  position: relative;
  width: 100%;
  height: 100%;
  canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s opacity;
    width: 100%;
    &.ready {
      opacity: 1;
    }
    &.ended {
      opacity: 0;
    }
  }
  .ui {
    font-size: 2vw;
    opacity: 0;
    transition: 0.5s opacity;
    &.ready {
      opacity: 1;
    }
    &.ended {
      opacity: 0;
    }
    img {
      &:not(.ui-pause) {
        pointer-events: none;
      }
    }
  }
  .ui-bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 4;
  }
  .ui-window-cover {
    position: absolute;
    width: (1752em/2668*50);
    bottom: 0.57em;
    left: 50%;
    transform: translateX(-50%);
  }
  .ui-gauges, .ui-gauges-back {
    position: absolute;
    top: 26px;
    left: 1em;
    width: (524em/2668*50);
  }
  .ui-pause {
    position: absolute;
    top: 1em;
    right: 1em;
    width: (203em/2668*50);
  }
  .ui-bottom {
    position: absolute;
    // background: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    user-select: none;
  }
  .ui-arrow {
    max-width: .6em;
    &.left {
      margin-right: .2em;
    }
    &.right {
      margin-left: .2em;
    }
  }
  .map {
    position: absolute;
    bottom: 0.75em;
    left: 0.8em;
    width: (1752em/2668*50);
    height: (246em/2668*50);
    overflow: hidden;
  }
  .map-icons {
    position: absolute;
    left: 8em;
    bottom: 0;
  }
  .map-lines {
    position: absolute;
    width: (1193em/2668*50);
    bottom: 0em;
    left: 8em;
  }
  .map-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 22.25em;
    transform: translateX(0%);
    &:after {
      position: absolute;
      bottom: 1px;
      right: 2.15em;
      transform: translateX(-50%);
      content: '';
      height: 1em;
      width: 40em;
    }
    &.gyro {
      &:after {
        background: #0ddaff;
      }
    }
    &.stampede {
      &:after {
        background: #e00505;
      }
    }
  }
  .map-stampede {
    position: absolute;
    width: (343em/2668*50);
    bottom: 1em;
    left: 0;
    transform: translateX(-100%);
    margin-left: 0.95em;
  }
  .map-gyro {
    position: absolute;
    width: (29em/2668*50);
    bottom: 1em;
    left: 0;
    transform: translateX(-100%);
    margin-left: 0.4em;
  }
  .button {
    position: absolute;
    background: #ff0000;
    background: linear-gradient(to bottom, rgba(236,12,12,1) 0%,rgba(162,0,0,1) 100%);
    width: 6em;
    text-align: center;
    height: 4.4em;
    line-height: 1em;
    text-transform: uppercase;
    .wrapper {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 100%;
      font-size: 1em;
      font-weight: 300;
      span,
      img {
        vertical-align: middle;
      }
    }
    &.brake {
      bottom: 0.8em;
      right: 9.35em;
    }
    &.boost {
      bottom: 0.8em;
      right: 1.1em;
    }
  }
  .meter {
    overflow: hidden;
    position: absolute;
    width: 8.5em;
    height: 0.85em;
    &.health {
      left: 2.2em;
      top: calc(26px + 0.1em);
      .fill {
        background: #00e30b;
      }
    }
    &.boost {
      left: 2.2em;
      top: calc(26px + 1.4em);
      .fill {
        background: #ffde00;
      }
    }
    .fill {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
  .how-to-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }

}
</style>
