<template lang="pug">
  .modal(v-if="state", :class="{successBg: state === 'successNotLoggedIn' || state === 'successPreviousEntry' || state === 'successLoggedIn' || state === 'won' || state === 'successPromoLimit' || state === 'wonPromoLimit', failBg: state === 'failed', startBg: state === 'started', howToPlay: state === 'howToPlay'}")

    //- HOW TO PLAY
    .how-to-play(v-if="state === 'howToPlay'")
      .title {{copy.howToPlay}}
      .cta-container
        .btn(v-if="!howToSlideOne" @click.stop="closeHowToModal('readyToPlay')") {{copy.ready}}
        .btn(v-if="howToSlideOne" @click.stop="closeHowToModal('skipBtnHowTo')") {{copy.skip}}
      .slide-one(v-if="howToSlideOne")
        .mobile(v-if="isMobile")
          .tutorial-point.brake
            span {{copy.tapToSlow}}
            img(src="static/modal/arrow-small.png")
          .tutorial-point.swipe
            img(src="static/modal/double-arrow.png")
            .wrapper
              span {{copy.swipeUpDown}}
              p.sml-txt {{copy.avoidObstacles}}
          .tutorial-point.boost
            span {{copy.tapToSpeed}}
            img(src="static/modal/arrow-small.png")
        .desktop(v-if="!isMobile")
          .tutorial-point.brake.key
            img(src="static/modal/left-arrow-key.png")
            span {{copy.arrowKeySlow}}
          .tutorial-point.keys
            img(src="static/modal/up-down-arrows.png")
            .wrapper
              span {{copy.upDownArrowKey}}
              p.sml-txt {{copy.avoidObstacles}}
          .tutorial-point.boost.key
            span {{copy.arrowKeySpeed}}
            img(src="static/modal/right-arrow-key.png")
        .arrow-right(@click.stop="toggleHowToPlaySlide")
          img(src="static/modal/arrow-rt.png")
      .slide-two(v-if="!howToSlideOne")
        .tutorial-point.health
          img(src="static/modal/arrow-small-up.png")
          span {{copy.healthEnergy}}
        .tutorial-point.progress
          img(src="static/modal/arrow-small.png")
          .wrapper
            span {{copy.progressMeter}}
            p.sml-txt {{copy.dinoMap}}
        .arrow-left(@click.stop="toggleHowToPlaySlide")
          img(src="static/modal/arrow-lt.png")

    //- PAUSED
    .modal-inner(:class="{pausedModal: state === 'paused', quitConfModal: state === 'quit', failedModal: state === 'failed', countDown: state === 'countDown'}")
      .btn-container(v-if="state === 'successNotLoggedIn' || state === 'successPreviousEntry' || state === 'successLoggedIn' || state === 'failed' || state === 'successPromoLimit'")
        .btn.exit-btn(@click.stop="exitGame(state)") {{copy.exitGame}}
        .btn(@click.stop="restart(state)") {{copy.playAgain}}
      .modal-content(v-if="state === 'started'").start-modal
        img(src="static/modal/warning.svg")
        p {{copy.gameTitle}}
      .modal-content(v-if="state === 'paused'").paused-modal
        .paused {{copy.paused}}
        .continue(ref="continueGame" @click.stop="resumeGame")
          .x
          p {{copy.continue}}
        .icon-container
          .icon-btn(ref="quitIcon" @click.stop="showQuitConf")
            .icon.quit
            p {{copy.quit}}
          .icon-btn(ref="howToPlayIcon" @click.stop="showHowToPlay")
            .icon.htp
            p.play-title {{copy.howToPlay}}
          .icon-btn(ref="restartIcon", @click.stop="restart")
            .icon.restart
            p {{copy.restart}}

      //- QUIT
      .modal-content(v-if="state === 'quit'").quit-modal
        p {{copy.returnToMap}}
        .btn(ref='quitGameBtn' @click.stop="exitGame") {{copy.yes}}
        .btn(ref='backToGameBtn' @click.stop="closeQuitModal") {{copy.no}}

      //- WON
      .modal-content(v-if="state === 'won' || state === 'wonPromoLimit'").won-modal
        .title {{copy.YouMadeit}}
        p(v-if="state === 'won'") {{copy.WonMsg}}
        p(v-if="state === 'wonPromoLimit'") {{copy.WonPromoLimitMsg}}
        .btn(ref='continueBtn' @click.stop="showVideoPlayer") {{copy.continue}}

      //- SUCCESS
      .modal-content(v-if="state === 'successNotLoggedIn' || state === 'successPreviousEntry' || state === 'successLoggedIn' || state === 'successPromoLimit'").success-modal
        .title {{copy.success}}
        p {{copy.youEscaped}}
        p(v-if="state === 'successNotLoggedIn'").addSpace {{copy.registerLogin}}
        p(v-if="state === 'successLoggedIn'").addSpace {{copy.youEarned}}
        p(v-if="state === 'successPreviousEntry'") {{copy.prevEntry}}
        p(v-if="state === 'successPromoLimit'") {{copy.promoLimit}}
        .subtitle(v-if="state === 'successLoggedIn' || state === 'successNotLoggedIn'") 1 {{copy.bonusEntry}}
        .btn(v-if="state === 'successNotLoggedIn'" @click.stop="goLoginRegister") {{copy.loginOrRegister}}

      //- LOST GAME
      .modal-content(v-if="state === 'failed'").fail-modal
        .title {{copy.failed}}
        p {{copy.didNotEscaped}}
        .subtitle {{progress}}% {{copy.completed}}
    .fail-icon(v-if="state === 'failed'")
      img(src="static/modal/warning.svg")
    p.tapStart(v-if="state === 'started'") {{copy.tapToStart}}

    //- VIDEO CONTAINER
    transition(name="fade")
      .video-container(ref="videoContainer" v-show="showVideo")
        video(v-show="firstGame", ref="introVideo" playsinline @canplay="hideLoader" @ended="hideVideo")
          source(src="static/video/intro.mp4")
        video(v-show="!firstGame", ref="outroVideo" playsinline @canplay="hideLoader" @ended="hideVideo")
          source(src="static/video/outro.mp4")
        .btn.skip-video(@click.stop="hideVideo") {{copy.skip}}

    //- LOADER
    .loader(v-if="loading")
      .loader-container
        .gyro
          img(src="static/modal/loader-gyro.png").bounce
          img(src="static/modal/loader-gyro-outer.png").spin
        .loading-txt {{copy.loader}}

    //- COUNTDOWN
    .count-down(v-if="state === 'countDown'")
      .count-down-container
        .counter(ref="counter") {{counter}}
</template>

<script>
import Global from '@/scripts/game/Global'
import Config from '@/scripts/Config'
import QueryString from 'query-string'

export default {
  name: 'modal',
  props: [
    'playerProgress',
    'pause',
    'winner',
    'ended',
    'started',
    'isMobile',
    'howToPlay'
  ],
  data () {
    return {
      introVideo: true,
      showVideo: false,
      firstGame: true,
      entryEarned: false,
      successModal: false,
      quit: false,
      howToSlideOne: true,
      loading: true,
      copy: {},
      params: {},
      countDown: false,
      counter: 3
    }
  },
  beforeCreate: function () {
  },
  mounted: function () {
    // if (process.env.NODE_ENV === 'development') {
    //   this.firstGame = false
    // }
    this.params = {
      lang: 'en',
      ...QueryString.parse(location.search)
    }
    Config.load(this.params.lang).then(() => {
      this.copy = Config.config.copy
    })
  },
  // watch: {
  //   state (v) {
  //     console.log('state change', v)
  //   }
  // },
  computed: {
    progress () {
      return Math.round(this.playerProgress * 100)
    },
    state () {
      if (this.loading) {
        return 'loading'
      }
      if (!this.started) {
        return 'started'
      }
      // if (!(this.ended || this.pause)) {
      //   return null
      // }
      if (this.successModal) {
        if (this.params.promoLimit === 'true') {
          return 'successPromoLimit'
        }
        if (this.params.loggedIn === 'true' && this.params.canEarnEntry === 'false') {
          return 'successPreviousEntry'
        } else if (this.params.loggedIn === 'true' && this.params.canEarnEntry === 'true') {
          if (this.entryEarned) {
            return 'successPreviousEntry'
          }
          this.entryEarned = true
          return 'successLoggedIn'
        } else {
          return 'successNotLoggedIn'
        }
      }
      if (this.ended) {
        // reset how to modal to first page
        this.howToSlideOne = true
        if (this.winner) {
          window.parent.postMessage('userWonGame', '*')
          this.firstGame = false
          if (this.params.promoLimit) {
            return 'wonPromoLimit'
          } else {
            return 'won'
          }
        } else {
          window.parent.postMessage('userLostGame', '*')
          return 'failed'
        }
      }
      if (this.countDown) {
        return 'countDown'
      }
      if (this.howToPlay) {
        return 'howToPlay'
      }
      if (this.quit) {
        return 'quit'
      }
      if (this.pause) {
        return 'paused'
      }
      return null
    }
  },
  methods: {
    exitGame (msg) {
      console.log(msg)
      if (msg === 'failed') {
        window.parent.postMessage('lossExitGame', '*')
      } else {
        window.parent.postMessage('winExitGame', '*')
      }
    },
    goLoginRegister () {
      window.parent.postMessage('goLoginRegister', '*')
    },
    restart (msg) {
      console.log(msg)
      if (msg === 'failed') {
        window.parent.postMessage('lossPlayAgain', '*')
      } else {
        window.parent.postMessage('winPlayAgain', '*')
      }
      this.successModal = false
      Global.game.unpause()
      Global.game.__restart()
    },
    setLoading (v) {
      this.loading = v
    },
    showQuitConf () {
      console.log('quit and show conf')
      this.quit = true
    },
    showHowToPlay () {
      this.howToSlideOne = true
      Global.component.howToPlay = true
    },
    closeQuitModal () {
      this.quit = false
    },
    resumeGame () {
      this.quit = false
      Global.component.howToPlay = false
      Global.game.unpause()
    },
    toggleHowToPlaySlide () {
      if (this.howToSlideOne) {
        this.howToSlideOne = false
      } else {
        this.howToSlideOne = true
      }
    },
    closeHowToModal (msg) {
      window.parent.postMessage(msg, '*')
      if (this.firstGame) {
        this.showVideoPlayer()
      } else {
        Global.component.howToPlay = false
        Global.game.unpause()
      }
    },
    hideLoader () {
      Global.component.loading = false
    },
    hideVideo () {
      if (Global.component.howToPlay) {
        this.showCounter()
      } else {
        this.successModal = true
      }
      if (this.firstGame) {
        window.parent.postMessage('skipIntroVideo', '*')
        this.$refs.introVideo.pause()
      } else {
        window.parent.postMessage('skipOutroVideo', '*')
        this.$refs.outroVideo.pause()
      }
      this.showVideo = false
    },
    showCounter () {
      console.log('start counter')
      this.countDown = true
      this.startCounter()
    },
    startCounter () {
      let count = setInterval(() => {
        this.$refs.counter.classList.add('fadeOut')
        this.counter--
        if (this.counter === 0) {
          Global.component.howToPlay = false
          this.firstGame = false
          this.countDown = false
          clearInterval(count)
          Global.game.unpause()
        }
        this.$refs.counter.classList.remove('fadeOut')
      }, 600)
    },
    showVideoPlayer () {
      // Global.component.loading = true
      this.showVideo = true
      if (this.firstGame) {
        this.$refs.introVideo.play()
      } else {
        window.parent.postMessage('continueToOutroVideo', '*')
        this.$refs.outroVideo.play()
      }
    }
  },
  components: {
  }
}
</script>

<style scoped lang="scss">
@import "../styles/_variables";
@import "../styles/_mixins";
.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 2vw;
  background-color: rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80% 55%;
  z-index: 5;
  &.successBg {
    background-color: rgba(0,0,0,0);
    background-image: url(/assets/game/static/modal/success-bg.jpg);
  }
  &.failBg {
    background-color: rgba(0,0,0,0);
    background-image: url(/assets/game/static/modal/fail-bg.jpg);
  }
  &.startBg {
    background-color: rgba(0,0,0,0);
    background-image: url(/assets/game/static/modal/start-bg.jpg);
  }
  &.howToPlay {
    background-color: rgba(0,0,0,0);
    .modal-inner {
      display: none;
    }
  }

  .modal-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    min-width: 40%;
    padding: 1em;
    @include stripedBackground();
    text-align: center;
    @include cornerBorder(-.35em, calc(100% + .7em), calc(100% + .7em), 1.5em, .7em, 1.05em, .1em);
    color: $white;
    &.pausedModal {
      transform: translate(-50%, -50%);
      min-width: 85%;
      padding: 7em 6em;
    }
    &.quitConfModal {
      transform: translate(-50%, -50%);
      min-width: 65%;
      padding: 5.5em 5em;
    }
    &.failedModal {
      padding: 2em 1.6em;
      max-width: 25%;
      left: 5%;
      transform: translate(0, -60%);
    }
    &.countDown {
      display: none;
    }
  }

  .how-to-play {
    width: 100%;
    height: 100%;

    .title {
      text-align: center;
      color: $yellow;
      margin-top: 1.5em;
    }

    .skip-btn {
      color: $white;
      text-align: center;
      text-transform: uppercase;
    }

    .btn {
      left: 50%;
      transform: translateX(calc(-50% - .5em));
    }

    .arrow-right,
    .arrow-left {
      position: absolute;
      top: 50%;
      transform: translateY(-60%);
      img {
        max-width: 1em;
      }
    }
    .arrow-right {
      right: .5em;
      padding: 2em 1em 2em .5em;
    }
    .arrow-left {
      left: .5em;
      padding: 2em .5em 2em 1em;
    }
  }

  .tutorial-point {
    position: absolute;
    color: $yellow;
    text-transform: uppercase;
    span,
    img {
      vertical-align: top;
    }
    img {
      max-width: 1em;
    }
    &.key {
      span,
      img {
        vertical-align: middle;
      }
      img {
        max-width: 2em;
      }
    }
    &.lrg-arrow {
      img {
        max-width: 1em;
      }
    }
  }

  .brake {
    bottom: 6.65em;
    right: 14.2em;
    img {
      margin-left: .5em;
    }
    &.key {
      right: auto;
      left: 1.2em;
      img {
        margin-left: 0;
        margin-right: 0.5em;
      }
    }
  }

  .keys,
  .swipe  {
    left: 50%;
    top: 44%;
    transform: translate(-20%, -15%);
    span,
    img {
      vertical-align: middle;
    }
    img {
      margin-right: .5em;
    }
  }

  .swipe {
    left: 25%;
  }

  .keys {
    img {
      max-width: 2.5em;
    }
  }

  .swipe {
    img {
      max-width: 2em;
    }
  }

  .boost {
    bottom: 6.65em;
    right: 1.2em;
     img {
      margin-left: .5em;
    }
  }

  .health {
    left: 1em;
    top: 4.5em;
    span,
    img {
      vertical-align: bottom;
    }
    img {
      margin-right: .5em;
    }
  }

  .progress {
    bottom: 8em;
    left: 20em;
    img {
      position: absolute;
      right: 100%;
      margin-right: .5em;

    }
  }

  .how-to-play {
    .swipe,
    .keys {
      img {
        position: absolute;
        right: 100%;
        margin-right: .5em;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .wrapper {
    .sml-txt {
      margin-bottom: 0;
      max-width: 80%;
      color: $white;
      font-size: .5em;
    }
  }


  .title {
    text-transform: uppercase;
    font-size: 1.8em;
    letter-spacing: .02em;
    margin-bottom: .4em;
  }

  .subtitle {
    color: $yellow;
  }

  p {
    font-size: .65em;
    letter-spacing: .05em;
    margin-bottom: 2.5em;
  }

  .continue {
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    margin: 1em 1em 0 0;
    .x {
      width: 3vw;
      height: 3vw;
      background-image: url(/assets/game/static/modal/close.svg);
      background-repeat: no-repeat;
      background-size: contain;
      margin: 0 auto;
      margin-bottom: .2em;
    }
    p {
      font-size: .5em;
    }
  }

  .start-modal {
    p {
      font-size: 1.4em;
      color: $red;
      margin-bottom: 0;
      margin-top: .5em;
    }
    img {
      max-width: 40%;
      margin-top: -4em;
    }
  }

  .tapStart {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    color: $white;
    text-transform: uppercase;
    font-size: 1.2em;
  }

  .quit-modal {
    p {
      font-size: 1.2em;
      letter-spacing: .05em;
      margin-bottom: 2.5em;
    }
    .btn {
      &:first-of-type {
        margin-right: 3em;
      }
    }
  }

  .paused-modal {
    .paused {
      text-transform: uppercase;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $yellow;
      color: $black;
      padding: .2em .4em;
      margin: 1em 0 0 1em;
    }
    .icon-btn {
      display: inline-block;
      margin-top: 1.3em;
      font-size: 2vw;
      vertical-align: top;
      width: 33.33%;
      p {
        font-size: 1em;
        text-transform: uppercase;
        margin-bottom: 0;
        &.play-title {
          max-width: 5em;
          margin: 0 auto;
        }
      }
    }
    .icon-container {
      width: 100%;
      text-align: center;
      font-size: 0;
    }
    .icon {
      width: 9vw;
      height: 9vw;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      margin: 0 auto;
      &.quit {
        margin-bottom: .5em;
        width: 10.5vw;
        height: 10.5vw;
        background-image: url(/assets/game/static/modal/quit.svg);
      }
      &.htp {
        margin-bottom: 1.2em;
        background-image: url(/assets/game/static/modal/how-to-play.svg);
      }
      &.restart {
        margin-bottom: 1.2em;
        background-image: url(/assets/game/static/modal/restart.svg);
      }
    }
  }

  .success-modal {
    .title {
      color: $green;
    }
    p {
      font-size: .7em;
      line-height: 1.2em;
      max-width: 90%;
      margin: 0 auto;
      margin-bottom: .5em;
    }
    .addSpace {
      margin-bottom: 1em;
    }
    .btn {
      margin-top: 1.5em;
      padding: 1em;
    }
  }

  .fail-modal {
    .title {
      color: $red;
    }
  }

  .fail-icon {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    text-align: center;
    img {
      max-width: 30%;
    }
  }

  .won-modal {
    .title {
      font-size: 1em;
      color: $yellow;
    }
    p {
      font-size: .7em;
      line-height: .7em;
      margin-bottom: .5em;
    }
  }

  .btn-container {
    position: absolute;
    margin-top: 1em;
    top: 100%;
    left: 0;
    width: 100%;
    .btn {
      padding: 1em 2.5em;
    }
    .exit-btn {
      margin-right: 1em;
    }
  }

  .loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
    background-color: #252525;
  }

  .loader-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .gyro {
      position: relative;
    }

    .bounce {
      position: absolute;
      left: 0;
      bottom: 0;
      transform: translateY(0);
      max-width: 16em;
      animation: bounce .8s infinite linear;
    }
    .spin {
      display: block;
      position: relative;
      transform: rotate(0);
      max-width: 16em;
      animation: spin 1s infinite linear;
    }
  }

  .loading-txt {
    font-size: 1em;
    margin-top: 1.5em;
    color: $white;
    text-transform: uppercase;
    @media only screen and (max-width: 768px) {
      font-size: 1.75em;
    }
  }

  .video-container {
    background: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    video {
      width: 100%;
      height: 100%;
    }
    .btn {
      font-size: .58em;
      padding: .5em 1.5em;
      position: absolute;
      bottom: 1em;
      left: 50%;
      transform: translateX(-50%);
      &:before {
        z-index: 0;
      }
    }
  }

  .count-down,
  .count-down-container {
    width: 100%;
    height: 100%;
  }

  .counter {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5em;
    color: $yellow;
    text-align: center;
    opacity: 1;
    transition: opacity 150ms ease;
    &.fadeOut {
      opacity: 0;
    }
  }

  @keyframes spin {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(359deg); }
  }

  @keyframes bounce {
    0%   { transform: translateY(0); }
    50%   { transform: translateY(-.4em); }
    100% { transform: translateY(0); }
  }
}
</style>
