<template lang="pug">
  .selection-editor(v-if="enabled")
    input.saver(type='button' value='Save Level' @click='save()')
    input.loader(type='button' value='Load Level' @click='load()')
    textarea(ref="saveBox")
    .obstacle-editor(v-if='obstacle' :style='style', :class='{ dropping }')
      .row
        .label X:
        .input
          input(v-model='obstacleX')
      .row
        .label Y:
        .input
          input(v-model='obstacleY')
      .row
        input(type='button' value='Move' @click='move()')
      .row
        .label Scale:
        .input
          input(type='range' min='-0.75' max='0.75' step='any' v-model='scale')
      .row
        .label Rotation:
        .input
          input(type='range' :min='-Math.PI' :max='Math.PI' step='any' v-model='rotation')
      .row
        input(type='button' value='Delete' @click='destroy()')

</template>

<script>
import Global from '@/scripts/game/Global'
import json from 'format-json'
export default {
  name: 'selection-editor',
  props: [],
  data () {
    return {
      obstacle: null,
      dropping: null,
      enabled: false
    }
  },
  computed: {
    style () {
      let scale = Global.app._options.view.getBoundingClientRect().width / Global.app._options.view.width || 1
      return {
        left: `${this.obstacle.x - (Global.camera.pivot.x - (Global.screen.width / 2 * scale))}px`,
        top: `${this.obstacle.y - (Global.camera.pivot.y - (Global.screen.height / 2 * scale))}px`
      }
    },
    obstacleX: {
      get () {
        return this.obstacle.x
      },
      set (val) {
        let v = parseFloat(val)
        this.obstacle.x = v
        this.obstacle.__runtime.graphic.x = v
      }
    },
    obstacleY: {
      get () {
        return this.obstacle.y
      },
      set (val) {
        let v = parseFloat(val)
        this.obstacle.y = v
        this.obstacle.__runtime.graphic.y = v
      }
    },
    scale: {
      get () {
        return this.obstacle.scale * 0.5
      },
      set (val) {
        let v = parseFloat(val) / 0.5
        this.obstacle.scale = v
        this.obstacle.__runtime.graphic.scale.set(v, Math.abs(v))
      }
    },
    rotation: {
      get () {
        return this.obstacle.rotation
      },
      set (val) {
        let v = parseFloat(val)
        this.obstacle.rotation = v
        this.obstacle.__runtime.graphic.rotation = v
      }
    }
  },
  mounted () {
    this.counter = 0
    setInterval(this.update.bind(this), 50)
  },
  methods: {
    save () {
      this.$refs.saveBox.value = json.plain(Global.editor.saveLevel())
      window.localStorage.setItem('world', this.$refs.saveBox.value)
      this.$refs.saveBox.select()
    },
    load () {
      if (window.confirm('Load new level?')) {
        try {
          JSON.parse(this.$refs.saveBox.value)
          window.localStorage.setItem('world', this.$refs.saveBox.value)
          window.location.reload()
        } catch (e) {
          alert('Invalid JSON')
        }
      }
    },
    update () {
      if (Global.editor) {
        /* eslint-disable */
        this.dropping = Global.editor.droppingObstacle ? true : false
        /* eslint-enable */
        if (this.obstacle) {
          let i = Math.floor(((Math.cos(this.counter / 2) + 1) / 2) * 128)
          this.obstacle.__runtime.graphic.tint = ((127 + i) << 16) + (255 << 8) + ((127 + i))
        }
        this.counter += 1
      }
    },
    select (obstacle) {
      this.deselect()
      this.counter = 0
      this.obstacle = obstacle
    },
    move () {
      Global.editor.droppingObstacle = this.obstacle
    },
    deselect () {
      if (this.obstacle) {
        this.obstacle.__runtime.graphic.tint = 0xffffff
        this.obstacle = null
      }
    },
    destroy () {
      let obstacle = this.obstacle
      this.deselect()
      Global.world.removeObstacle(obstacle)
    }
  },
  components: {
  }
}
</script>

<style scoped lang="scss">
@import "../styles/_variables";
@import "../styles/_mixins";
.selection-editor {
  .obstacle-editor {
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    background: #fff;
    border-radius: 16px;
    padding: 10px;
    transform: translateX(-50%);
    opacity: 0.85;
    &.dropping {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  textarea {
    display: block;
    height: 400px;
    width: 100%;
  }
  .row {
    height: 20px;
    margin-bottom: 5px;
    line-height: 20px;
  }
  .label {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    margin-right: 5px;
    vertical-align: middle;
  }
  .input {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    float: right;
  }
  input {
    height: 20px;
    line-height: 20px;
    vertical-align: top;
    float: right;
  }
  .saver {
    float: none;
  }
}
</style>
