<template lang="pug">
  #app
    JurassicGameContainer
    SelectionEditor.editor(ref='editor')
</template>

<script>
import debug from 'debug'
import JurassicGameContainer from '@/components/JurassicGameContainer'
let log = debug('App')
export default {
  name: 'app',
  mounted: function () {
    log('App Mounted')
    this.$store.dispatch('loading', false)
  },
  computed: {
  },
  methods: {
  },
  components: {
    JurassicGameContainer,
    SelectionEditor () {
      if (process.env.NODE_ENV === 'development') {
        return import('@/components/SelectionEditor')
      } else {
        return null
      }
    }
  }
}
</script>

<style lang="scss">
@import "./styles/main";
body, html {
}
#app {
  width: 100%;
  height: 100%;
  position: relative;
}
</style>
